<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISCZ - {% block title %}Cech Zlodeju{% endblock %}</title>
    <!-- Loads the path to static file -->
    {% load static %}
    {% load widget_tweaks %}

    <link rel="apple-touch-icon" sizes="57x57"
          href="{% static 'zlodeji/images/favicon' %}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'zlodeji/images/favicon/' %}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{% static 'zlodeji/images/favicon/' %}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'zlodeji/images/favicon/' %}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{% static 'zlodeji/images/favicon/' %}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'zlodeji/images/favicon/' %}/favicon-16x16.png">
    <link rel="manifest" href="{% static 'zlodeji/images/favicon/' %}/manifest.json">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="{% static 'zlodeji/images/favicon/' %}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'zlodeji/style.css' %}">

    {% block chart1 %}
    {% endblock %}
    {% block scrollspy %}
    {% endblock %}
    {% block skol_style %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-wrapper">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#topNavBar">
                <span class="icon-bar" style="background-color: #3b7eb6"></span>
                <span class="icon-bar" style="background-color: #3b7eb6"></span>
                <span class="icon-bar" style="background-color: #3b7eb6"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" onclick="window.close()">
                <a href="#">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;
                    Zavri
                </a>
            </button>
            <a class="navbar-brand" href="{% url 'zlodej:index' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                {% if user.is_superuser %}
                    <li class="">
                        <a href="{% url 'admin:index' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                            Admin site
                        </a>
                    </li>
                {% elif user.is_authenticated %}
                    <li class="">
                        <a href="#"
                           style="background-color: transparent; text-decoration: none; color: #337ab7; cursor: default;">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                            Zlodej: {{ user.username }}
                        </a></li>
                {% endif %}
                {% if user.is_authenticated %}

                    <li>
                        <a href="{% url 'zlodej:stat' %}">
                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;
                            Štatistiky
                        </a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'zlodej:skolenia' %}">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;
                            Evidencia školení
                        </a></li>
                {% endif %}
                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'zlodej:vybavenie' %}">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;
                            Evidencia vybavenia
                        </a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'zlodej:povolenia' %}">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;
                            Povolenia
                        </a></li>
                {% endif %}
                {% block collapsible %}
                {% endblock %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <!---{#
                    #}-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">Formuláre<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;

                                </a>
                            </li>
                            <li class="">
                                <a onclick="addzlocin()" href="">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                    Pridaj Zločin
                                </a>
                            </li>
                            <li class="">
                                <a href="" onclick="addvybavenie()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                    Pridať vybavenie
                                </a>
                            </li>
                            <li class="">
                                <a href="" onclick="addskolenie()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                                    Pridať školenie
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="">
                        <a href="{% url 'zlodej:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'zlodej:login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                            Login / Register
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
<script>

    function addzlocin() {
        window.open("{% url 'zlodej:urobil-add' %}", "Pridať zločin", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=600,height=600");
    }

    function assignzlocin() {
        window.open("{% url 'zlodej:urobil-add' %}", "Priradiť zločin", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=600,height=600");
    }

    function addvybavenie() {
        window.open("{% url 'zlodej:vlastnil-add' %}", "Pridať vybavenie", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=600,height=600");
    }

    function addskolenie() {
        window.open("{% url 'zlodej:skolenie-add' %}", "Pridať školenie", "toolbar=yes,scrollbars=yes,resizable=yes,top=600,left=500,width=600,height=600");
    }

</script>
<div class="footer">
    ©Copyright: Rastislav Kanda - Jakub Klemens (xkanda00 - xkleme11)
</div>
</body>
</html>