{% extends 'zlodeji/base.html' %}

{% block title %}Zlocin details{% endblock %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <h3>Zločiny</h3>

                {% if error_message %}
                    <p>
                        <strong>{{ error_message }}</strong>
                    </p>
                {% endif %}
                <div class="col-sm-2">
                    <ul class="nav nav-pills nav-stacked">
                        {% for zlocin in urobil %}
                            <li {% if forloop.first %} class="active" {% endif %}>
                                <a data-toggle="pill"
                                   href="#vybavenie{{ zlocin.id }}">{{ zlocin.id_zlocinu }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-10">
                    <div class="tab-content">
                        {% for zlocin in urobil %}
                            <div id="vybavenie{{ zlocin.id }}" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="panel panel-default panel-table">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col col-xs-6">
                                                        <h1 class="panel-title">{{ zlocin.id_zlocinu }}</h1>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-sm-offset-1">
                                                    <h2>Meno zlodeja: {{ zlocin.prezivka }}</h2>
                                                    <h2>Typ zločinu: {{ zlocin.id_zlocinu.id_typu_zlocinu.druh }}</h2>
                                                    {% if dostal %}
                                                        {% for zlo in dostal %}
                                                            <h1>{{ zlo }}</h1>
                                                            {% if zlo.id_povolenia.id_zlocinu == zlocin %}
                                                                <h2>Názov rájónu: {{ zlo.id_povolenia.nazov_rajonu.nazov }}</h2>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <h3>Žiadne povolenie na tento zločin</h3>
                                                    {% endif %}
                                                    {% if eviduje %}
                                                        {% for rajon in eviduje %}

                                                        {% endfor %}
                                                    {% endif %}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}