{% extends 'zlodeji/base.html' %}

{% block title %}Zlocin details{% endblock %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                {% for rajon in eviduje %}
                    {% ifequal uziv rajon %}
                        <h2>Názov rajónu: {{ uziv.nazov_rajonu.nazov_rajonu }}</h2>
                        <h3>Kapacita zlodejov: {{ uziv.nazov_rajonu.kapacita_zlodejov }}</h3>
                        <h3>Level rajónu: {{ uziv.nazov_rajonu.level_rajonu }}</h3>
                        <h3>Bohatstvo rajónu: {{ uziv.nazov_rajonu.bohatstvo }}ℌ</h3>
                        <h3>Počet obyvateľov: {{ uziv.nazov_rajonu.pocet_obyvatelov }}</h3>
                        <h4>Zemepisné súradnice: š.{{ uziv.nazov_rajonu.sirka }} - d.{{ uziv.nazov_rajonu.dlzka }}</h4>

                    {% endifequal %}
                {% endfor %}

                <div class="well">
                    <h3>Urádujúci zlodeji:</h3>
                    {% for rajon in eviduje %}
                        {% if rajon.nazov_rajonu == uziv.nazov_rajonu %}
                            <p>{{ rajon.prezivka }}</p>
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="map" style="height: 300px;"></div>

            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var cent = {lat: {{ uziv.nazov_rajonu.sirka }}, lng: {{ uziv.nazov_rajonu.dlzka }}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: cent

            });
            var marker = new google.maps.Marker({
                position: cent,
                map: map
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp-IA0zGU_k7pTrglMRBMVfIH3wSvSooc&callback=initMap"
            async defer></script>

{% endblock %}

