{% extends 'zlodeji/base.html' %}
{% load static %}
{% block title %}Zlodej{% endblock %}
{% block collapsible %}
    {% if user.is_superuser %}
        <li>
            <a data-toggle="collapse" data-target="#demo">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                Zobraziť všetkých registrovaných zlodejov
            </a>
        </li>
    {% endif %}

{% endblock %}
{% block body %}

    <div class="container-fluid songs-container">
        {% for zlodej in all_zlodejs %}
            {% if user.is_authenticated %}
                {% if user.username == zlodej.username %}
                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert"
                           aria-label="close">&times;</a>
                        Uživateľ <strong>{{ user.username }}</strong> bol prihlásený.
                    </div>
                    {% if user.is_superuser %}
                        <div id="demo" class="collapse row">
                            {% for zlodej in all_zlodejs %}
                                {% if zlodej.username == user.username %}
                                {% else %}
                                    <div class="col-sm-4 col-md-3">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <a href="">
                                                    {% if zlodej.fotka %}
                                                        <img src="{{ zlodej.fotka }}"
                                                             class="img-responsive"
                                                             style="max-height: 200px;">
                                                    {% else %}
                                                        <h3>No image to display</h3>
                                                    {% endif %}
                                                </a>
                                                <h1>{{ zlodej.username }}
                                                    <small></small>
                                                </h1>
                                                {% if zlodej.meno %}
                                                    <h3>Meno: {{ zlodej.meno }}</h3>
                                                {% else %}
                                                    <h3>Meno: ---------</h3>
                                                {% endif %}
                                                <h3>Odmena: {{ zlodej.odmena }}</h3>
                                                <h3>Rodné číslo: {{ zlodej.rc }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}


                    <div class="row">
                        <!-- Left Album Info -->
                        <div class="col-sm-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="">
                                        {% if zlodej.fotka %}
                                            <img src="{{ zlodej.fotka }}" class="img-responsive">
                                        {% else %}
                                            <h3>No image to display</h3>
                                        {% endif %}
                                    </a>
                                    <h1>{{ zlodej.username }}
                                        <small></small>
                                    </h1>
                                    {% if zlodej.meno %}
                                        <h3>Meno: {{ zlodej.meno }}</h3>
                                    {% else %}
                                        <h3>Meno: ---------</h3>
                                    {% endif %}
                                    <h3>Odmena: {{ zlodej.odmena }}</h3>
                                    <h3>Rodné číslo: {{ zlodej.rc }}</h3>
                                </div>
                            </div>
                        </div>

                        <!-- Right Song Info -->
                        <div class="col-sm-8 col-md-9">
                            <div class="panel with-nav-tabs panel-default">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab1default"
                                                              data-toggle="tab">Zločiny</a>
                                        </li>
                                        <li><a href="#tab2default" data-toggle="tab">Školenia</a>
                                        </li>
                                        <li><a href="#tab3default"
                                               data-toggle="tab">Rajóny</a></li>
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown">Dropdown
                                                <span
                                                        class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#tab4default"
                                                       data-toggle="tab">Default
                                                    4</a></li>
                                                <li><a href="#tab5default"
                                                       data-toggle="tab">Default
                                                    5</a></li>
                                            </ul>
                                        </li>
                                        <li role="presentation"><a
                                                href="{% url 'zlodej:zlocin-add' %}">
                                        <span class="glyphicon glyphicon-plus"
                                              aria-hidden="true"></span>&nbsp;
                                            Add Zlocin
                                        </a></li>
                                        <li role="presentation"><a href="#">
                                        <span class="glyphicon glyphicon-plus"
                                              aria-hidden="true"></span>&nbsp;
                                            Add Skolenie
                                        </a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active"
                                             id="tab1default">

                                            <div class="panel panel-default">
                                                <div class="panel-body">

                                                    <h3>Zločiny</h3>

                                                    {% if error_message %}
                                                        <p>
                                                            <strong>{{ error_message }}</strong>
                                                        </p>
                                                    {% endif %}

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Úspech</th>
                                                            <th>Vybavenie</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for zlocin in urobil %}
                                                            {% if zlocin.prezivka_id == user.username %}

                                                                <tr>
                                                                    <td>{{ zlocin.id_zlocinu.id_typu_zlocinu.druh }}</td>
                                                                    <td>

                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                    <td>
                                                                        <form action=""
                                                                              method="post"
                                                                              style="display: inline;">
                                                                            {% csrf_token %}
                                                                            <input type="hidden"
                                                                                   name="zlocin_id"
                                                                                   value="{{ zlocin.id_zlocinu }}"/>
                                                                            <button type="submit"
                                                                                    class="btn btn-danger btn-xs">
                                                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;
                                                                                Delete
                                                                            </button>
                                                                        </form>

                                                                    </td>
                                                                </tr>
                                                            {% endif %}

                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="tab2default">


                                            <!------------------------------------------- SKOLENIA --------------------------------------------->

                                            <div class="panel panel-default">
                                                <div class="panel-body">

                                                    <h3>Školenia</h3>

                                                    {% if error_message %}
                                                        <p>
                                                            <strong>{{ error_message }}</strong>
                                                        </p>
                                                    {% endif %}

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Title</th>
                                                            <th>Type</th>
                                                            <th>Favorite</th>
                                                            <th>Approved</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for zlocin in bolna %}
                                                            {% if zlocin.prezivka_id == user.username %}

                                                                <tr>
                                                                    <td>{{ zlocin.id_skolenia }}</td>
                                                                    <td>

                                                                    </td>
                                                                    <td>

                                                                    </td>
                                                                    <td>
                                                                        {% if not zlocin.id_skolenia.schvalene %}
                                                                            <span class="glyphicon glyphicon-remove"
                                                                                  aria-hidden="true">{{ zlocin.id_skolenia.schvalene }}</span>
                                                                        {% else %}
                                                                            <span class="glyphicon glyphicon-ok"
                                                                                  aria-hidden="true">{{ zlocin.id_skolenia.schvalene }}</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if not zlocin.id_skolenia.schvalene %}
                                                                            {% if zlodej.is_superuser %}
                                                                                <form action="{% url 'zlodej:approve' zlocin.id_skolenia_id %}"
                                                                                      method="post" style="display: inline;">
                                                                                    {% csrf_token %}
                                                                                    <input type="hidden" name="schvalene"
                                                                                           value="1"/>
                                                                                    <button type="submit" class="btn btn-success btn-xs">
                                                                                        <span class="glyphicon glyphicon-ok"></span>
                                                                                        Schváliť
                                                                                    </button>
                                                                                </form>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="tab3default">


                                            <!------------------------------------------- RAJONY --------------------------------------------->

                                            <div class="panel panel-default">
                                                <div class="panel-body">

                                                    <h3>Rajóny</h3>

                                                    {% if error_message %}
                                                        <p>
                                                            <strong>{{ error_message }}</strong>
                                                        </p>
                                                    {% endif %}

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazov rajonu</th>
                                                            <th>Level</th>
                                                            <th>Kapacita zlodejov</th>
                                                            <th>Bohatstvo</th>
                                                            <th>Počet obyvateľov</th>
                                                            <th>Zemepisná dĺžka</th>
                                                            <th>Zemepisná šírka</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for rajon in eviduje %}
                                                            {% if rajon.prezivka_id == user.username %}

                                                                <tr>
                                                                    <td>{{ rajon.nazov_rajonu }}</td>
                                                                    <td>
                                                                        {{ rajon.nazov_rajonu.level_rajonu }}
                                                                    </td>
                                                                    <td>
                                                                        {{ rajon.nazov_rajonu.kapacita_zlodejov }}
                                                                    </td>
                                                                    <td>
                                                                        {{ rajon.nazov_rajonu.bohatstvo }}
                                                                    </td>

                                                                    <td>
                                                                        {{ rajon.nazov_rajonu.pocet_obyvatelov }}
                                                                    </td>
                                                                    <td>{{ rajon.nazov_rajonu.dlzka }}</td>
                                                                    <td>{{ rajon.nazov_rajonu.sirka }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="tab4default">Default
                                            4
                                        </div>
                                        <div class="tab-pane fade" id="tab5default">Default
                                            5
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-pills" style="margin-bottom: 10px;">
                            <!--<li role="presentation"  class="active"><a href="">View All</a></li>-->
                        </ul>
                    </div>
                {% endif %}
            {% else %}
                {% if forloop.first %}
                    <!--<img src="{% static 'zlodeji/images/down-curved-arrow.png' %}" class="topright">
                    --><img style="float:right; height: 100px; width: 100px; margin-right: 40px;"
                            src="{% static 'zlodeji/images/down-curved-arrow.png' %}">
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}