{% extends 'zlodeji/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="albums-container container-fluid content">

        {% if user.is_authenticated %}

        <!-- Albums -->
        <div class="row">
            <div class="col-sm-12">
                <h3>Uživateľ <strong>{{ user.username }} </strong> Zlocins</h3>
                {% for zlodej in all_zlodejs %}
                    {% if zlodej.prezivka == user.username %}
                        <h2>Prezívka: {{ zlodej.prezivka }}</h2>
                        <h2>Meno: {{ zlodej.meno }}</h2>
                    {% endif %}
                {% endfor %}
            </div>
            {% for zlocin in urobil %}
                {% if zlocin.prezivka_id == user.username %}

                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <div class="caption">


                                <h4>{{ zlocin.id_zlocinu.id_typu_zlocinu.druh }}</h4>
                                <h4>{% for object in eviduje %}
                                    {% if object.prezivka_id == user.username %}
                                        {{ object.nazov_rajonu }}
                                    {% endif %}
                                {% endfor %}
                                </h4>


                                <!-- View Details -->
                                <a href="{% url 'zlodej:zlocin-detail' zlocin.id_zlocinu %}"
                                   class="btn btn-primary btn-sm" role="button">View Details</a>


                                <!-- Delete Album -->
                                <form action=""
                                      method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="zlodej_prezivka"
                                           value="{{ zlodej.prezivka }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>


                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endif %}
            {% endfor %}
        </div>
            {% else %}
            <script>
            window.location.href = {% url 'zlodej:login' %}
            </script>
    {% endif %}
{% endblock %}