{% extends 'zlodeji/base.html' %}
{% block title %}Pridať školenie{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <h3>Vytvoriť povolenie</h3>

            <div class="col-xs-12">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'zlodeji/form-template.html' %}
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success">Potvrdiť</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}