{% extends 'zlodeji/base.html' %}
{% block title %}Štatistika{% endblock %}
{% block albums_active %}active{% endblock %}
{% load tags %}
{% block chart1 %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data_zlociny = google.visualization.arrayToDataTable([
                ['Zlodej', 'Počet zločinov'],
                {% for zlocin in urobil_unique %}
                    ['{{ zlocin.prezivka }}', '{{ zlocin.prezivka|count_zlocins }}'],
                {% endfor %}
            ]);

            var data_skolenia = google.visualization.arrayToDataTable([
                ['Zlodej', 'Počet školení'],
                {% for zlocin in bolna_unique %}
                    ['{{ zlocin.prezivka }}', '{{ zlocin.prezivka|count_skolenia }}'],
                {% endfor %}
            ]);
            var data_vybavenie = google.visualization.arrayToDataTable([
                ['Zlodej', 'Počet vlastneného vybavenia'],
                {% for zlocin in vlastnil_unique %}
                    ['{{ zlocin.prezivka }}', '{{ zlocin.prezivka|count_vybavenie }}'],
                {% endfor %}
            ]);
            var data_povolenia = google.visualization.arrayToDataTable([
                ['Zlodej', 'Počet vydaných povolení'],
                {% for zlocin in dostal_unique %}
                    ['{{ zlocin.prezivka }}', '{{ zlocin.prezivka|count_povolenia }}'],
                {% endfor %}
            ]);


            var options_zlociny = {
                title: 'Počet vykonaných zločinov',
                legend: {position: 'none'},
                colors: ['#3b7eb6'],
                backgroundColor: {fill: '#f2f2f2'}
            };
            var options_skolenia = {
                title: 'Počet zúčastnených školení',
                legend: {position: 'none'},
                colors: ['#1cb6b1'],
                backgroundColor: {fill: '#f2f2f2'}
            };
            var options_vybavenie = {
                title: 'Počet vlastneného vybavenie',
                legend: {position: 'none'},
                colors: ['#80b61a'],
                backgroundColor: {fill: '#f2f2f2'}
            };
            var options_povolenia = {
                title: 'Počet vydaných povolení',
                legend: {position: 'none'},
                colors: ['#b61026'],
                backgroundColor: {fill: '#f2f2f2'}
            };

            var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
            chart.draw(data_zlociny, options_zlociny);
            var chart1 = new google.visualization.Histogram(document.getElementById('chart_div1'));
            chart1.draw(data_skolenia, options_skolenia);
            var chart2 = new google.visualization.Histogram(document.getElementById('chart_div2'));
            chart2.draw(data_vybavenie, options_vybavenie);
            var chart3 = new google.visualization.Histogram(document.getElementById('chart_div3'));
            chart3.draw(data_povolenia, options_povolenia);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid songs-container">
        {% for zlodej in all_zlodejs %}
            {% if user.username == zlodej.username %}

                {% if user.is_authenticated %}
                    <div class="row">
                    <!-- Left Album Info -->
                    <div class="col-sm-4 col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a href="">
                                    {% if zlodej.fotka %}
                                        <img src="{{ zlodej.fotka }}" class="img-responsive">
                                    {% else %}
                                        <h3>No image to display</h3>
                                    {% endif %}
                                </a>
                                <h1>{{ zlodej.username }}
                                    <small></small>
                                </h1>
                                {% if zlodej.meno %}
                                    <h3>Meno: {{ zlodej.meno }}</h3>
                                {% else %}
                                    <h3>Meno: ---------</h3>
                                {% endif %}
                                <h3>Odmena: {{ zlodej.odmena }}</h3>
                                <h3>Rodné číslo: {{ zlodej.rc }}</h3>
                            </div>
                        </div>
                        <div class="">
                            <div class="well wellwell">
                                <h3>Najlepší zlodeji podľa počtu  zločinov</h3>
                                <ul class="list-group">
                                    {% sum_zlocinov as sumZ %}
                                    {% for key, values in sumZ.items|dictsortreversed:1 %}
                                        <li class="list-group-item">
                                            {{ key }}
                                                <span class="badge">{{ values }}
                                                </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="">
                            <div class="well welldone">
                                <h3>Najlepší zlodeji podľa koristi</h3>
                                <ul class="list-group ">
                                    {% sum_koristi as sumK %}
                                    {% for key, values in sumK.items|dictsortreversed:1 %}
                                        <li class="list-group-item">
                                            {{ key }}
                                                <span class="badge">{{ values }}
                                                </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-9">
                        <div class="well">
                            <h4>Počet zlodejov</h4>
                            <h2><span class="label label-default">{{ zlodej_count }} Zlodej/i</span>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">

                                    <h4>Počet vykonaných zločinov</h4>
                                    <h2><span class="label label-default">{{ zlocin_count }}</span>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div id="chart_div"></div>
                                </div>
                            </div>
                            <!--- <div class="col-sm-3">

                             </div>
                             <div class="col-sm-3">

                             </div>--->
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <h4>Celkový počet absolvovaných školení</h4>
                                    <h2><span
                                            class="label label-default">{{ skolenie_count }}</span>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div id="chart_div1"></div>

                                </div>
                            </div>
                            <!---<div class="col-sm-4">
                                <div class="well">
                                    <p>Text</p>
                                    <p>Text</p>
                                    <p>Text</p>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <h4>Počet vlastneného vybavenia</h4>
                                    <h2><span
                                            class="label label-default">{{ vybavenie_count }}</span>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div id="chart_div2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="well">
                                    <h4>Počet vydaných povolení</h4>
                                    <h2><span class="label label-default">{{ povolenia_count }}</span></h2>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div id="chart_div3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}