{% extends 'zlodeji/base.html' %}
{% block title %}Pridať zločin{% endblock %}
{% block albums_active %}active{% endblock %}
{% load widget_tweaks %}
{% load i18n %}
{% block body %}
    <div class="container-fluid">

        <div class="row" style="width: 50%; margin: 0 auto; text-align: center;">

            <div class="col-sm-12 col-md-7">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" name="form_zlocin" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}

                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback" style="color: red;">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" %}
                                {% endif %}

                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-success">
                                    Potvrdiť
                                </button>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-info" onclick="window.location.href = '{% url 'zlodej:vybavenie-add' %}'">
                                Vytvoriť nové vybavenie
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $.datepicker.regional['cz'] = {
                closeText: 'Zavřít', // set a close button text
                currentText: 'Dnes', // set today text
                monthNames: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'], // set month names
                monthNamesShort: ['Led', 'Úno', 'Bře', 'Dub', 'Kvě', 'Čvn', 'Čvc', 'Srp', 'Zář', 'Říj', 'Lis', 'Pro'], // set short month names
                dayNames: ['Neděle', 'Pondělí', 'Úterí', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'], // set days names
                dayNamesShort: ['Ned','Pon', 'Ute', 'Str', 'Čtv', 'Pát', 'Sob'], // set short day names
                dayNamesMin: [ 'Ne', 'Po','Ut', 'St', 'Čt', 'Pá', 'So'] // set more short days names
            };

            $.datepicker.setDefaults($.datepicker.regional['cz']);
            $("#id_od").datepicker({
                dateFormat: "DD, d MM, yy",
                changeMonth: true,
                firstDay: 1,
                numberOfMonths: 2,
                onClose: function (selectedDate) {
                    $("#id_od").datepicker("option", "minDate", selectedDate);
                }
            });
        });
        $(function () {
            $("#id_do").datepicker({
                dateFormat: "DD, d MM, yy",
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                onClose: function (selectedDate) {
                    $("#id_do").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
{% endblock %}